{% extends 'course/base.html' %}
{% load static %}
{% block content %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Exam
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-university"></i> <a href="/courses">Courses</a>
                    </li>
                    <li>
                        <i class="fa fa-compass"></i> {{ course.title }}
                    </li>
                    <li>
                        <i class="fa fa-star"></i> <a href="/course/{{ course.id }}/exams">Exams</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-star"></i> Exam #{{ exam.exam_num }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Questions -->
        <div id="ajax_questions_table"
           name="ajax_questions_table">
           {% include "course/exam/question_table.html" %}
        </div>
        <!-- /.row -->
		
		

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.0"></script>

{#	//------------------------------------------------------------------------//#}
{#    //                           ANALYSIS OF EMOTIONS                              //#}
{#    //------------------------------------------------------------------------//#}

    <script>let model_json_path = "{% static "models/mobilenetv1_models/model.json" %}"
            console.log(model_json_path)
    </script>
    <script src="{% static "js/FaceEmotions.js" %}"></script>
	
{#    //------------------------------------------------------------------------//#}
{#    //                           MULTIPLE CHOICE                              //#}
{#    //------------------------------------------------------------------------//#}

    <script>
    examStartTime = new Date();
    let time_intervals = [0, examStartTime]

    function ajax_submit_mc_exam_answer(question_id, answer)
    {
		//intervals of indices in a sequence of emotions
		interval_boundaries.push(seq_of_emotions.length);
	
        const last_click_date = time_intervals.pop();
        const new_last_click_date = new Date()
        const seconds_elapsed = (new_last_click_date - last_click_date) / 1000
        time_intervals.push(time_intervals[time_intervals.length - 1] + seconds_elapsed) // Adding second from start of the test on which user clicked.
        time_intervals.push(new_last_click_date);

        var url =  {{ exam.exam_id }}  + '/submit_mc_exam_answer';

        // create a FormData Object using your form dom element
        const data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('question_id', question_id);
        data.append('answer', answer);

        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(result){
                if (result.status != 'success') // Print errors.
                {
                    alert(result.message);
                }
            }
        });
    }

    //------------------------------------------------------------------------//
    //                               SUBMISSION                               //
    //------------------------------------------------------------------------//
    function ajax_submit_exam()
    {
        let timeElapsedInSeconds = Math.round((new Date() - examStartTime) / 1000)
        time_intervals.pop()

        $('#submit_{{ exam.exam_id }}_btn').prop("disabled", true); // Lock button
                
        // create a FormData Object using your form dom element
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('timeElapsedInSeconds', timeElapsedInSeconds)
        data.append("time_intervals", time_intervals)
		data.append("seq_of_emotional_positions", seq_of_emotional_positions)

        jQuery.ajax({
            url: {{ exam.exam_id }} + '/submit_exam',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(result){
                if (result.status != 'success') // Print errors.
                {
                    alert(result.message);
                }
                else
                {
                    $('#submit_{{ exam.exam_id }}_btn').prop("disabled", false); // Unlock button
                    window.location = "../exams"
                }
            }
        });
    }
</script>
{% endblock content %}
